#[[
/*
================================================================================

1. This template is for the module-level header file u_<module>_reg_access.h.
   The base unit is 32-bit (i.e. 32-bit for mem and emptyspace).
2. No renaming is required on the output files after compilation, as the legacy
   module name already contains the prefix "u_".
3. This template works very well for both FM2 and PG4 because no register name
   has to get prefixed with any string related to the project name/code.
4. This tempalte supports two-level register declaration only excluding the top
   level. However, only one of the 2nd or 3rd level is allowed to be repeated
   due to only one address index is used throughout the pre-defined format.
5. The object types and tree hierarchy of a module/block object are as follows.

   1st => (TOP = the module/block)
            |
   2nd =>   +-------(reg)--------(reggroup)--------(mem)--------(emptyspace)
                                     |               |
   3rd =>                           reg             reg
                                 emptyspace     emptyspace(?)
6. The reggroup-inside-reggroup cases exist in XML exclusively (i.e. the object
   "obj3" in this template) due to the format issue.

Cheader Ver 4.18 
================================================================================
*/
]]#
/******************************************************************************

    Copyright 2018 Micron Technology, Inc. All Rights Reserved.
    This software contains confidential information and trade secrets of
    Micron Technology, Inc.  Use, disclosure, or reproduction is prohibited
    without the prior express written permission of Micron Technology, Inc.

    Purpose:
    <Put purpose here>

    Description:
    <Put description here>

******************************************************************************/

#[[
#ifndef __GLOBAL_TYPES_H
#define __GLOBAL_TYPES_H

#include <stdint.h>

typedef unsigned char      UINT8;
typedef unsigned int       UINT32;
typedef unsigned long long UINT64;

#endif /* __GLOBAL_TYPES_H */
]]#
